*~
stamp-*
Makefile
Makefile.in
Makefile.in.in
/autom4te.cache/
/build-aux/
/m4/
/pacfinder-*/
/ABOUT-NLS
/aclocal.m4
/AUTHORS
/autoscan.log
/ChangeLog
/config.log
/config.status
/configure
/configure.scan
/INSTALL
/pacfinder-*.tar.gz
/README
